#wearethebest{
  
   padding: 90px 0;

   .fa-check {
       color: $primary-color;
   }
   ul {
       text-decoration: none;
   }

   .section-title{
    margin-bottom: 10px;
    position: relative;
    font-size: 33px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;

   }

  
}