#ineedhelp {
    padding: 30px 0;
    .iconbox{
       display: flex;
    } 

    .text-headerico
    {
        padding-left: 20px;
    }

    .headercontent-wrapper
    {
        display: flex;
        justify-content: flex-end;
   

    }


    .headcontact-item {
        margin-right: 20px;
    }
}